<style>
    *{font-family: system-ui;}
    body{display: flex;flex-direction: column; align-items: center;padding-top: 20px;}
    form{display: flex; flex-wrap: wrap;justify-content: center;}
    .titlo{width: max-content;padding: 3px; border: 2px solid blue;border-radius: 5px;}
    a{position: relative;left:200px ;width: max-content;color: red;border: 2px solid; padding: 3px;border-radius: 4px;text-decoration: none;}
    table{background: #999; width: 300px; border-radius: 8px;}
    td{background: #fff;padding: 5px;}
    th{padding: 5px;}
    .user{margin-right: 50%;}
</style>
<div class="user">Usuário: <%if(user){%> <label style="color: blue;"><%=user%></label> <%}%></div>
<a href="/login">Sair</a> 
<h1>Resultados da votação</h1>
<form action="/resultados" method="get">
    <div>
        <h3>Presidente</h3>
        <table>
            <thead>
                <tr>
                    <th>Candidato</th>
                    <th>Votos</th>
                </tr>
            </thead>
            <%pres.forEach(resultado=>{%>
                <tbody>
                    <tr>
                        <td><%=resultado.nome%></td>
                        <td><%=resultado.total%></td>
                    </tr>
                </tbody>
            <%})%>
        </table>
    </div>
    <div>
        <h3>Secretario</h3>
        <table>
        <thead>
            <tr>
                <th>Candidato</th>
                <th>Votos</th>
            </tr>
        </thead>
        <%sec.forEach(resultado=>{%>
            <tbody>
                <tr>
                    <td><%=resultado.nome%></td>
                    <td><%=resultado.total%></td>
                </tr>
            </tbody>
            <%})%>
        </table>
    </div>
<div>
    <h3>Estaticista</h3>
        <table>
            <thead>
                <tr>
                    <th>Candidato</th>
                    <th>Votos</th>
                </tr>
            </thead>
            <%est.forEach(resultado=>{%>
                <tbody>
                    <tr>
                        <td><%=resultado.nome%></td>
                        <td><%=resultado.total%></td>
                    </tr>
                </tbody>
                <%})%>
            </table>
        </table>
</div>
</form>