<title>Resultados da votação</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/main.css">
<div class="user">Usuário: <%if(user){%> <label style="color: blue;"><%=user%></label> <%}%></div>
<a href="/login">Sair</a> 
<h1>Resultados da votação</h1>
<form action="/resultados" method="get">
    <div>
        <h3>Presidente</h3>
        <table>
            <thead>
                <tr>
                    <th>Candidato</th>
                    <th>Votos</th>
                </tr>
            </thead>
            <%pres.forEach(resultado=>{%>
                <tbody>
                    <tr>
                        <td><%=resultado.nome%></td>
                        <td><%=resultado.total%></td>
                    </tr>
                </tbody>
            <%})%>
        </table>
    </div>
    <div>
        <h3>Secretario</h3>
        <table>
        <thead>
            <tr>
                <th>Candidato</th>
                <th>Votos</th>
            </tr>
        </thead>
        <%sec.forEach(resultado=>{%>
            <tbody>
                <tr>
                    <td><%=resultado.nome%></td>
                    <td><%=resultado.total%></td>
                </tr>
            </tbody>
            <%})%>
        </table>
    </div>
<div>
    <h3>Estaticista</h3>
        <table>
            <thead>
                <tr>
                    <th>Candidato</th>
                    <th>Votos</th>
                </tr>
            </thead>
            <%est.forEach(resultado=>{%>
                <tbody>
                    <tr>
                        <td><%=resultado.nome%></td>
                        <td><%=resultado.total%></td>
                    </tr>
                </tbody>
            <%})%>
        </table>
</div>
</form> 